batch_prefix: b
data_schema_dir: ../data/schemas
ngram_len: 40
test_run: False
new_data_pull: True
client_secret: Y0urSecret
client_id: Y0urID
subreddit: StarWars
raw_observations_feather_path: ../data/serialized/raw_observations_400.feather
x_maxlen: 2000
model_checkpoint_path: ../data/output/model_checkpoints
num_epochs: 100