data_schema_dir: ../data/schemas
ngram_len: 40
test_run: True
new_data_pull: False
client_secret: Y0urSecret
client_id: Y0urID
subreddit: Showerthoughts
history_num_days: 400
post_pickle_path: ../data/pickles/posts_extract.arrow